<div {{ attributes }}>
    <div class="mb-3">
        <input
            type="search"
            value="{{ query }}"
            data-model="query"
            {{ stimulus_action('live', 'update') }}
            class="form-control"
            placeholder="Search from {{ computed.packages|length }} packages..."
        >
    </div>

    <div data-loading="addClass(opacity-25)">
        {% for package in computed.packages %}
            <div class="component-box">
                <span class="rectangle {{ package.color }}"></span>
                <span class="name">{{ package.name }}</span>
            </div>
        {% endfor %}
    </div>
</div>
